* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: monospace;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

#app-container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
    
}

#side-nav {
    background-color: #101b1bce;
    flex: 1 1 300px;
    text-align: center;
    padding-top: 2rem;
    color: #b1dada;
    font-family: monospace;
    padding: 1rem;
    /* box-shadow: 16px 20px; */
    height: 100%;
}

#addProject {
    margin-top: 1.5rem;
    width: 100%;
    position: relative;
    /* height: 100%; */
    /* padding: 1rem; */
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projectName {
    border: none;
    width: 90%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 20px;
    /* border-radius: 1rem; */
    height: 100%;
}

#add-project {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #101b1be1;
    height: 100%;
    width: 10%;
    color: #b1dada;
    padding-left: .8rem;
    padding-right: .8rem;
    cursor: pointer;
    /* padding-bottom: .8rem; */
    font-size: 1.5rem;
    border: none;
    /* width: 2.5rem; */
    /* font-size: 2rem; */
    /* padding: 1.5rem */
    /* padding: 10px 20px; */
    /* border-radius: 1rem; */
}

#projects {
    margin-top: 2rem;
    overflow-y: auto
}

.project {
    width: 100%;
    color: #b1dada;
    padding: 1.5rem;
    background-color: #101b1bce;
    border: none;
    margin-top: .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project.active {
    background-color: #b1dada;
    color: #101b1bce;
}

.delete-project {
    cursor: pointer
}

#content {
    background-color: #b1dada;
    flex: 8 1 400px;
    position: relative;
    height:100%;
    overflow-y: scroll;
    position: relative;
    
}

#content>.title {
    text-align: center;
    font-family: monospace;
    color: #101b1bce;
     padding-top: .8rem;
    padding-bottom: .8rem;
    border-bottom: 4px solid #101b1bce;
    width: 80%;
    margin: 0 auto;
    margin-top: 1.5rem;
    position: sticky;
    background-color: #b1dada;
    top: 0;
}

#task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
    height:100%;
    max-width: 80%;
}

.task {
    margin-top: 2rem;
    width: 80%;
    /* text-align: center; */
    background-color: cadetblue;
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: column;
    padding: 2rem;
    
}
.main-detail{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    
}

.details{
    display:none;
   
}
.details.active{
    display: flex;
    flex-direction: column;
}

#add-task {
    font-size: 6rem;
    position: fixed;
    bottom: 1.5rem;
    right: 5rem;
    cursor: pointer;
}

input[type=checkbox] {
    accent-color: #101b1bce;
    
    
}

.task-done {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    outline: none;
    /* border: none; */
}

.task-name {
    font-size: 1.5rem;
    font-family: sans-serif;
    color: #101b1bce;

}

.task-name.done{
    color: rgba(39, 44, 44, 0.33);
    text-decoration: line-through;

}

.edit {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    justify-self: end;
}

.important.active {
    color: goldenrod;
}
.delete-task{
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
}

.edit-task-form {
    display: none;

}

.edit-task-form.active{
    display: block;
}
.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    top: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(32, 126, 132, 0.33);
}

.overlay.active {
    display: flex;
}

#add-task-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 60vh;
    width: 40vw;
    background-color: #101b1bce;
    font-size: 1rem;
    padding: 5rem;
    padding-left: 6rem;
    border-radius: 2rem;
    color: #b1dada;
    overflow-y: scroll;
}

#add-task-form>.title {
    margin-bottom: 2rem;
    text-align: center;
}

.input>input,.input>#select-priority,textarea{
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: .8rem;
}
.option{
    font-size: .8rem;
}
#low{
    color: green;
}

#medium{
    color: orange;
}

#high{
    color: red;
}

label {
    font-size: 1.5rem;
}

.label-checkbox {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
}

.form-control {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.form-control>input {
    padding: .8rem;
    width: 8rem;
    font-size: 1.2rem;
}


input[type="submit"] {
    background-color: #b1dada;
    color: #101b1bce;
    border: none;
    cursor: pointer;
}

input[type="button"] {
    background-color: transparent;
    border-color: #b1dada;
    color: #b1dada;
    cursor: pointer;
}
